html, body {
    height: 100%;
    min-width: 320px;
}

html {
    font-size: 10.125px;
    line-height: 1.4;
    color: #4c4c4c4c;
}

body {
    font-family:'Roboto';
    font-size: 10.125px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-40 {
    margin-right: 40px;
}

.pl-3 {
    padding-left: 3px;
}

.pr-3 {
    padding-right: 3px;
}

.pl-10 {
    padding-left: 10px;
}

.bg-gold {
    background-color: #F4CE77;
}

.bg-red {
    background-color: #E20613;
    margin-left: 2px;
}
